<!--{%for item in data["Items"] %}
<tr>
    <td>{{item["week"]}}</td>
    <td>{{item["cases"]}}</td>
</tr>
{% endfor %}-->

<!DOCTYPE html>
<html>
  <head>
    <title>COVID-19 Tweet Analysis</title>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-2.0.2.min.css" rel="stylesheet">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.0.2.min.css" rel="stylesheet">
  </head>
  <body>
    <h1>Sentiment Analysis</h1>
    {{ sent_div|safe }}
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-2.0.2.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.0.2.min.js"></script>
    {{ sent_script|safe }}
  </body>
</html>